@font-face {
  font-family: 'MinhaFonte';
  src:
    url('./Poppins/Poppins-Bold') format('ttf'),
    url('./Poppins/Poppins-Medium.ttf') format('ttf'),
    url('./Poppins/Poppins-Regular.ttf') format('ttf'),
    url('./Poppins/Poppins-SemiBold.ttf') format('ttf'),
    url('./Poppins/Poppins-Thin.ttf') format('ttf'),
    url('./Cousine/Cousine-Bold.ttf') format('ttf'),
    url('./Cousine/Cousine-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color-100: #cdb1fc;
  --primary-color-200: #955cf2;
  --primary-color-300: #620fea;
  --primary-color-400: #3d0599;
  --primary-color-500: #0a001f;

  --secondary-color-100: #fbfafc;
  --secondary-color-200: #c7c5c9;
  --secondary-color-300: #777579;
  --secondary-color-400: #252526;
  --secondary-color-500: #0f0f0f;
  --secondary-color-600: #020203;
}

body {
  font-family: 'Poppins', sans-serif;
}
